html {
    box-sizing: border-box;
}
*, 
*::before, 
*::after: {
    box-sizing: inherit;
}

.container {
    width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.page {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #757575;
    letter-spacing: 0.03em;
    background-color: #E5E5E5;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*шапка */
.head {
    background-color: #ffffff;
}
.logo {
    font-family: Raleway, Oleo Script, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
}
.capital-head {
    color:  #2196F3;
}
.logo-footer {
    font-family: Raleway, Oleo Script, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.capital-footer {
    color: #2196F3;
}
.logo:hover, 
.logo:focus {
    color:  #2196F3;
}

.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:  #2196F3;
}

.auth-nav .link {
    color: #757575;
    text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color:  #2196F3;
}
.site-nav .link.current {
    color: #2196F3;
}

/*заголовок*/
.hero {
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/*секции*/
.section-tim {
    background-color: #F5F4FA;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;        
    text-align: center;
    color: #212121;
}
.section-title-advantages{
    margin-top: 94px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}
.advantages-description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}
.section-title-name {
    margin-top: 30;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #212121;
}
.section-profession {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.18px;
    color: #757575;
}
.section-title-project {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.section-product-project {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
.section-link {
    text-decoration: none;
}

/*подвал*/
.footer-head {
    background-color: #2F303A;

}
.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-head-mail{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-head-tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/*кнопка*/
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
}
    
.button.primary {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.secondary {
    color: #212121;
    background-color: #F5F4FA;
}
.button.secondary:hover,
.button.secondary:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}